
<div id="modal_reset_pass_user" class="modal fade" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cambiar Contraseña</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            <form id="reset_pass_user_form" class="form-signin" method="POST">
                <input type="hidden" id="id_user" name="id_user" class="form-control" value="">
                <input type="password" name="pass_new" class="form-control" placeholder="Ingrese Password nueva" autofocus>
                <input type="password" name="repass_new" class="form-control" placeholder="Re-ingrese Password nueva">
            </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn_reset_pass_user">Modificar</button>
            </div>
        </div>
    </div>
</div>