{% extends 'overall/layout' %}
{% block appBody %}
    <div class="box-ocrend">
        <h1>ERROR 403</h1>
        <p>¡Acceso denegado!</p>
        <p>Informe a Administrador de Sistema</p>
        <br>
        <br>
        <p> <a href="javascript: history.go(-1)">VOLVER</a> </p>
    </div>
{% endblock %}
